html
    head
        link(rel="stylesheet", href="css/main.css")
    body
        style
            include ../css/fonts.css
        section#main
            block logo
            block content
            block footer
                footer

